
.graphe > h3:first-of-type {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 20px;
}


.double-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
}


.bloc {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.double-images .bloc:first-child img {
  max-width: 55%;     
}


.texte-entre-images {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.texte-entre-images p {
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
  margin: 0;
}


.graphique {
  display: block;
  border-radius: 10px;
  max-width: 40%;
  height: auto;
}


.graphe > div:not(.double-images) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  flex-wrap: wrap;
}


.text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  margin-left: 40px;
  word-wrap: break-word;
}


h3 {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.6em;
  margin: 0;
  margin-bottom: 5px;
}


.graphe p {
  text-align: left;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.4;
  margin: 0;
  width: 100%;
}


.graphe {
  margin: 40px auto 100px auto; 
  width: 90%;
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
