ul {
 list-style-type: none;
 margin: 40;
 padding: 40;
 overflow: hidden;
 background-color: #ffffff;
 display: flex;
 justify-content: center;
}

ul li a {
 display: block;
 color: black;
 text-align: center;
 padding: 10px 20px;
 margin: 5px 30px;
 text-decoration: none;
 border-radius: 20px;
}

ul li a:hover {
 background-color: magenta;
 color: white;
} 
