.titre-page {
    width: 70%;
    margin: 50px auto;
    color: #fff;
    background-color: #2b2e42;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

.presentation {
    text-align: center;
}


.pr-partie{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.illustration>img {
    border: #000 1px solid;
    width: calc(100% - 2px); /* pour prendre en compte la bordure */;
    transition: all 0.3s ease;
    height: 300px;
}

.illustration{
    position: relative; /* pour positionner l'overlay par rapport à la tuile */
    width: 70%;
    margin: 50px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.312);
    background-color: #2b2e42;
    
}

.illustration>.overlay{
    /* overlay qui recouvre toute la tuile */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* caché par défaut - flex center pour aligner l'icone au centre */
    display: none; 
    justify-content: center;
    align-items: center;

    
    font-size: 200px;
    color:white;
    background-color: rgba(0, 0, 0, 0.312);
}

.illustration:hover> img{
    opacity: 0.9;
    transform: translateY(2px);
    box-shadow: #000 2px 2px 10px;
}

.illustration:hover > .overlay {
    display: flex;
}


.illustration img {
    width: 100%;
    display: block;
    filter: brightness(0.5);
}

.illustration p {
    position: absolute;
    bottom: 20px;
    left: 30px;
    right: 30px;
    color: white;
    font-size: 1.2em;
    line-height: 1.4em;
    background: linear-gradient(to top, rgba(0,0,0,0.7), trasparent);
    padding: 20px;
    margin-left: 100px ;
    border-radius: 8px;
}
/* Code pris de PIROLLEY MELVYN*/

section{
    padding: 60px;
}

.titre-page {
    margin-top: 20px;
}

a {
    color: #d80536;
}

.titre_focon{
    margin: 50px ;
    text-align: center;
}

.graph {
    color: #500210;
}

.liste_fournisseur {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    width: 80%;
    margin: 60px auto;
    gap: 50px;
    background-color: #2b2e42;
}

.liste {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 60px;
}

.titre-liste>p {
    margin-right: 50px;
    color: #fff;
    text-align: center;
}

.liste img {
    display: block;
    width: 200px;
    height: 200px;
    gap: 100px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.titre-graph>p {
    margin: 50px;
    color: #fff;
    text-align: center;
}

#myChart {
  max-width: 700px;
  height: 900px;
  background-color: #2b2e42; 
  border-radius: 1px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  padding: 20px;
}




/* TIMELINE */ 



.timeline {
  display: flex;
  position: relative;
  margin: auto;
  padding: 20px 0;
  width: 80%;
  max-width: 1000px;
  justify-content: space-between;
  align-items: center;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #ccc;
  transform: translateY(-50%);
  z-index: 1;
}

.timeline-item {
  position: relative;
  z-index: 2;
  text-align: center;
}



.timeline-content {
  padding: 10px 20px;
  background-color: #2b2e42;
  color: #fff;
  border-radius: 8px;
  margin-top: 40px;
  min-width: 120px;
}

.timeline-content h3 {
  margin: 0 0 5px;
}

.timeline-content p {
  margin: 0;
  font-size: 14px;
}