.titre-page {
  background: linear-gradient(to right, #500210, #d80536);
  color: white;
  padding: 80px 0;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

.pr-partie{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.illustration>img {
    border: #000 1px solid;
    width: calc(100% - 2px); /* pour prendre en compte la bordure */;
    transition: all 0.3s ease;
    height: 300px;
}

.illustration{
    position: relative; /* pour positionner l'overlay par rapport à la tuile */
    width: 70%;
    margin: 50px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.312);
    background-color: #2b2e42;
    
}

.illustration>.overlay{
    /* overlay qui recouvre toute la tuile */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* caché par défaut - flex center pour aligner l'icone au centre */
    display: none; 
    justify-content: center;
    align-items: center;

    
    font-size: 200px;
    color:white;
    background-color: rgba(0, 0, 0, 0.312);
}

.illustration:hover> img{
    opacity: 0.9;
    transform: translateY(2px);
    box-shadow: #000 2px 2px 10px;
}

.illustration:hover > .overlay {
    display: flex;
}


.illustration img {
    width: 100%;
    display: block;
    filter: brightness(0.5);
}

.illustration p {
    position: absolute;
    bottom: 20px;
    left: 30px;
    right: 30px;
    color: white;
    font-size: 1.2em;
    line-height: 1.4em;
    background: linear-gradient(to top, rgba(0,0,0,0.7), trasparent);
    padding: 20px;
    margin-left: 100px ;
    border-radius: 8px;
}
/* Code pris de PIROLLEY MELVYN*/

section{
    padding: 60px;
}

.titre-page {
    margin-top: 20px;
}

a {
    color: #d80536;
}


