/* =======================
   Base
======================= */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #edf2f4;
  font-family: Arial, sans-serif;
}

/* =======================
   Navbar full width
======================= */
.navbar {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #2b2e42;
  width: 100%;
  margin: 0;
  padding: 10px 20px; 
}

.nav-link {
  background:linear-gradient( #500210, #d80536 );
  color: white !important;
  margin: 0 25px;
  border-radius: 5px;
}

.navbar-collapse {
  display: flex;
  justify-content: space-between; /* Sépare les liens et la barre de recherche */
  align-items: center;
  transform: translateX(-50px);
}

.navbar-nav {
  display: flex;
  justify-content: center; /* Centre les liens dans leur conteneur */
  flex: 1;
}

 .nav-link:hover {
  background: #ad2740;
  position: relative;
  transform: translateY(-3px);
  box-shadow: 0 5px 15px black;
}


 .active {
  background-color: #ad2740;
}

.Logo_IbtiTech{
  width: 80%;
  height: 80%;
}

.btn_nav{
  --bs-btn-color: #d80536;
  --bs-btn-border-color: #d80536;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d80536;
  --bs-btn-hover-border-color: #d80536;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #d80536;
  --bs-btn-active-border-color: #d80536;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #d80536;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #d80536;
  --bs-gradient: none;
}

/* =======================
   Main container
======================= */
.main-container {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 140px); /* espace entre header et footer */
}



/* Texte */
.text-zone {
  flex: 0 0 40%; 
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Carousel */
.carousel-zone {
  flex: 0 0 60%;          
  display: flex;          
  justify-content: center;
  align-items: center;    
  padding: 20px;          
  box-sizing: border-box; 
}

.carousel-zone .carousel {
  max-width: 90%;   
  border-radius: 10px; 
  overflow: hidden;    
  box-shadow: 0 4px 15px rgba(0,0,0,0.2); 
}

.carousel-img {
  width: 100%;
  height: auto;    
  object-fit: cover;
}

.call{
  color: white;
  text-decoration:none
}

/* Footer */
.footer {
  background-color: #2b2e42;
  color: white;
  text-align: center;
  padding: 20px;
}

/* =======================
   Responsive
======================= */
@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }
  .text-zone, .carousel-zone {
    flex: 0 0 100%;
  }
  .carousel-img {
    height: 300px;
  }
}